<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="AKB 3.0">
	   <test name="Tag" enabled="false">
			<classes>
				<class name="src.javaPackage.tag_module">
					<methods>
						<include name="tag_click" />
						<include name="module_tag_pending" />
						<include name="module_tag_active" />
						
					</methods>
				</class>
			</classes>
		</test>   
		
		
		
	<test name="Profile_sigOut"  enabled="false">
		<classes>
			<class name="src.javaPackage.profile_signOut">
				<methods>
					<include name="profile" />
					<include name="review_module_ChangePassword" />
					<include name="review_module_update" />
					<include name="Signout" />
				</methods>
			</class>
		</classes>
	</test> 
	
		<test name="Quiz_Module"  enabled="false">
		<classes>
			<class name="src.javaPackage.quiz">
				<methods>
					<include name="collaboration_module" />
					<include name="Quiz" />
					<include name="Discussion_forum" />
					<include name="Status" />
					<include name="My_queue" />
					<include name="pending_action" />
					<include name="my_discussion" />
				</methods>
			</class>
		</classes>
	</test> 
	<test name="Document_module"  >
		<classes>
			<class name="src.javaPackage.document_module">
				<methods>
					<include name="Document_module" />
					<include name="Search_documents" />
					<include name="view_document" />
					<include name="Filters" />
					<include name="Filters_categories" />
					
				</methods>
			</class>
		</classes>
	</test> 
	
</suite> <!-- Suite -->
